/* Menu */
@media screen and (max-width: 770px) {
  .navbar-nav {
    margin-top: 6px !important;
  }
  .navbar-nav a {
    background: rgba(250, 92, 101, 0.9);
    padding: 15px;
    text-align: center;
    margin-left: 0 !important;
    width: 100%;
  }
  .navbar-nav li {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-nav li a:hover {
    color: #263742;
    background: #e05961;
  }
  .navbar-nav .nav-item:nth-child(5) i {
    color: #263742;
  }
  .navbar-nav .nav-item:nth-child(6) i {
    color: #263742;
  }
}
/* Header */
@media screen and (max-width: 770px) {
  .header__inner {
    padding-bottom: 160px !important;
  }
}
/* Header content */
@media screen and (max-width: 768px) {
  .header__content {
    text-align: center;
    margin-top: 220px !important;
  }
  .header__content h1 {
    font-size: 41px !important;
  }
}
/* Info section */
@media screen and (max-width: 770px) {
  .info__item {
    text-align: center;
    max-width: 550px;
    margin: 30px auto;
  }
}
/* Portfolio section */
@media screen and (max-width: 770px) {
  .portfolio__img {
    margin-bottom: 10px;
    padding: 0 15px;
  }
  .portfolio__text {
    max-width: 250px;
    margin: 0 auto;
  }
}
/* Our team section */
@media screen and (max-width: 770px) {
  .our-team__title {
    text-align: center;
  }
  .our-team__staff {
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* footer section */
@media screen and (max-width: 770px) {
  .social {
    text-align: center;
  }
  .copyright {
    margin-top: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 770px) {
  .btn-back-to-top {
    right: 30px !important;
  }
}
@media screen and (max-width: 770px) {
  .btn-back-to-top {
    right: 30px !important;
  }
}
@font-face {
  font-family: "Domine";
  src: url('../fonts/Domine/Domine-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul,
li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
p {
  color: #9aa0ab;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.container {
  max-width: 960px;
}
.navbar {
  padding: 0;
}
.more-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fa5c65;
}
.more-link i {
  margin-left: 7px;
}
.more-link:hover {
  color: #e05961;
}
/* span */
.dot {
  color: #f0454c;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: #fa5c65;
  color: #ffffff;
  padding: 22px 40px;
}
/* Header */
.header__inner {
  background: url(../img/bg-first.jpg) no-repeat top;
  padding-bottom: 381px;
}
.logo a {
  display: block;
  width: 141px;
  height: 74px;
  font-family: 'Domine', serif;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.3px;
  font-weight: 700;
  text-decoration: none;
  background: #fa5c65;
  text-align: center;
  padding-top: 37px;
  -webkit-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
}
.logo a:hover {
  background: #e05961;
}
.logo span {
  color: #314a5b;
}
.navbar-nav {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar-nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #263742;
  text-decoration: none;
  margin-left: 29px;
}
.navbar-nav a:hover {
  color: #e05961;
}
.navbar-nav i {
  color: #fa5c65;
}
.navbar-nav i:hover {
  color: #e05961;
}
.header__content {
  margin-top: 296px;
}
.header__content h1 {
  font-size: 48px;
  color: #314a5b;
  letter-spacing: -0.05em;
  line-height: 1.15;
}
.header__content p {
  font-size: 20px;
  color: #314a5b;
}
.header__content button {
  margin-top: 20px;
}
.header__content button:hover {
  background: #e05961;
}
/* Info section */
.info {
  padding: 82px 0;
}
.info__item h3 {
  font-size: 26px;
  color: #465065;
  line-height: 1.1;
  letter-spacing: -0.03em;
}
.info__item p {
  line-height: 1.73;
}
.info__item a {
  text-decoration: none;
}
/* Portfolio section */
.portfolio {
  padding-top: 17px;
  padding-bottom: 17px;
}
.portfolio__text {
  margin-top: 10px;
}
.portfolio__text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.06em;
  color: #314a5b;
  margin-left: -4px;
}
.portfolio__text .sub-title {
  color: #314a5b;
  margin-top: -5px;
  letter-spacing: 0.001em;
}
.portfolio__text p {
  margin-top: 24px;
  line-height: 1.45;
  letter-spacing: 0.02em;
}
.portfolio__text a {
  text-decoration: none;
  display: block;
  margin-top: 40px;
  margin-left: -1px;
}
/* Our team section */
.our-team {
  padding-top: 82px;
}
.our-team__title {
  margin-bottom: 39px;
}
.our-team__title h2 {
  letter-spacing: -0.05em;
  margin-bottom: 2px;
}
.our-team__staff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.our-team__text {
  margin-left: 20px;
  margin-top: 14px;
}
.our-team__text h3 {
  font-size: 22px;
  letter-spacing: -0.05em;
  color: #314a5b;
  margin: 0;
}
.our-team__text span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #f0454c;
}
.our-team__text p {
  margin-top: 5px;
  font-size: 14px;
}
.our-team a {
  text-decoration: none;
}
.more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 44px;
}
/* Footer */
.line {
  margin-top: 56px;
}
.footer {
  padding-top: 14px;
  padding-bottom: 20px;
  color: #b9c0c6;
}
.social a {
  color: #b9c0c6;
  margin-right: 16px;
}
.social a:hover {
  color: #fa5c65;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.btn-back-to-top {
  display: none;
  position: fixed;
  padding: 10px 17px;
  bottom: 40px;
  right: 40px;
  background-color: #b9c0c6;
  opacity: 0.35;
  cursor: pointer;
  z-index: 100;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.btn-back-to-top:hover {
  background: #9aa0ab;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
